In [ ]:
# Q1.What is a database ?Differentiate between SQL and NoSQL database.

In [1]:
# ans 1:
A database is an organized collection of data, so that it can be easily accessed and managed.

You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.

Database handlers create a database in such a way that only one set of software program provides access of data to all the users.

The main purpose of the database is to operate a large amount of information by storing, retrieving, and managing data.

There are many dynamic websites on the World Wide Web nowadays which are handled through databases. For example, a model that checks the availability of rooms in a hotel. It is an example of a dynamic website that uses a database.

There are many databases available like MySQL, Sybase, Oracle, MongoDB, Informix, PostgreSQL, SQL Server, etc.

SQL

1.Relational database management system(RDBMS)
2.These database have fixed or static or predefined schema
3.These database are not suited for hierarchical data storage.
4.These database are best suited for complex queries
5.Vertically Scalable
6.Follows ACID property

NoSQL

1.Non-relational or distributed database system.
2.They have dynamic schema
3.These database are best suited for hierarchical data storage.
4.These database are best suited for hierarchical data storage.
5.Horizontally scalable

SyntaxError: invalid syntax (3392051723.py, line 2)

In [ ]:
Q2.What is DDL?Explain why CREATE,DROP,ALTER,and TRUNCATE are used with an example.

In [ ]:
# ans 2
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.
ommonly used DDL in SQL querying are CREATE, ALTER, DROP, and TRUNCATE.
Create
This command builds a new table and has a predefined syntax.
CREATE TABLE [table name ]([column definitions])[table parameters];
CREATE TABLE Employee (Employee Id INTEGER PRIMARY KEY, First name CHAR (50) NULL, Last name CHAR (75) NOT NULL);

Drop 
A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, there’s no way to recover it.

Drop statement syntax is:

DROP object type object name;

For example:

DROP TABLE Employee;

In this example, we’re deleting the Employee table.

Truncate
Similar to DROP, the TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys a table, TRUNCATE preserves its full structure to be reused later.

Truncate statement syntax is:

TRUNCATE TABLE table_name;

For example:

TRUNCATE TABLE Employee;

Alter
An alter command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table.

An alter command syntax is:

ALTER object type object name parameters;

For example:

ALTER TABLE Employee ADD PRIMARY KEY (employee_pk);

In this example, we added a unique primary key to the table to add a constraint and enforce a unique value. The constraint “employee_pk” is a primary key and is on the Employee table.

In [ ]:
# Q3.What is DML?Explain INSERT,UPDATE,and DELETE with an example.

In [ ]:
# Ans 3.
DML is an abbreviation of Data Manipulation Language.

The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.
INSERT 
INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
INSER INTO TABLE_NAME(column_name1,column_name2,column_name3.......column_nameN)

UPDATE DML Command
UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
PDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;  

DELETE 
DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.

This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select specific rows from the table.
DELETE FROM Table_Name WHERE condition;

In [ ]:
# Q4.What is DQL?Explain SELECT with an example.

In [ ]:
# ans 4
DQL commands are basically SELECT statements. SELECT statements let you query the database to find information in one or more tables, and return the query as a result set. A result set is an array structure; or more precisely, a result set is a two-dimensional array. The internal index for each row of data is the rowid pseudo-column, which maps to the physical address for where the data is written.

In [ ]:
# Q5.Explain Primary key and foreign key.

In [ ]:
# ans 5
Primary key 
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
Foreign key 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

In [ ]:
# Q6.Write a python code to connect MySQL to python .Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
	db_connection = mysql.connector.connect(
  	host="hostname",
  	user="username",
  	passwd="password"
    )
    
Cursor()
A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query. This article will learn some deep information about the execute methods and how to use those methods in python.
#python cursor_object.py

#import the library
import mysql.connector

# creating connection
conn = mysql.connector.connect(
  host="localhost",
  user="sammy",
  password="password"
)
#print the connection
print(conn)
# import the cursor from the connection (conn)

mycursor = conn.cursor()
#print the mycursor
print(mycursor)


exec()
exec() function is used for the dynamic execution of Python programs which can either be a string or object code. If it is a string, the string is parsed as a suite of Python statements which is then executed unless a syntax error occurs and if it is an object code, it is simply executed. We must be careful that the return statements may not be used outside of function definitions not even within the context of code passed to the exec() function. It doesn’t return any value, hence returns None. 
prog = 'print("The sum of 5 and 10 is", (5+10))'
exec(prog)